@import './variables.scss';

* {
  font-family: $fontFamily;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: $textColor;
}

body {
  background-color: $bgColor;
}

a {
  text-decoration: none;
  color: $mainColor;
  transition: 0.5s;
}

a:hover {
  color: $mainHoverColor;
}

